@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*nav-bar section*/

.active{
    color: goldenrod;
  }


.nav-bar{
    background-color:transparent;
    backdrop-filter: blur(20px);
      color: #fff;
      margin-bottom: 10px;
      box-shadow: 0px 5px 5px rgba(0 0 0/0.2);
  }
  
  .nav-bar h1{
    float: left;
    height: 45px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 7px;
  }
  
  .nav-bar h1 a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  
  .nav{
      text-align: right;
      margin-right: 150px;
  }
  .nav-bar h1 a{
    margin-left: 20px;
    
  }
  .nav-bar h1 a span{
    color: goldenrod;
  }
  
  ul li{
      display: inline-block;
      margin: 20px;
      list-style: none;
      
  }
  
  ul li a{
      color: #fff;
      text-decoration: none;
      padding: 20px;
  }
  ul li a:hover{
      color: goldenrod;
  }

  ul li a:active{
    font-size: 15px;
    transition: .3s;
  }
  
  .nav span{
      margin: 0 20px;
      font-size: 28px;
      cursor: pointer;
      display: none;
  }

/* ----------PORTFOLIO---------- */
#portfolio{
    
    text-align: center;
    padding: 20px;
}
.container h1{
    text-align: center;
    color: white;
    font-size: 50px;
}
.container .sub-title span{
    color: goldenrod;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    
}

.work {
    
    background-color:transparent;
    backdrop-filter: blur(50px);
    border: .3px solid grey;
    color: #333;
    box-shadow: 0px 5px 5px rgba(0 0 0/0.2);
    width: 300px;
    padding: 5px;
    margin: 50px;
    border-radius: 5px;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    cursor: pointer;
}

.layer {
    background: goldenrod;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
}

.layer h2 {
    margin-bottom: 30px;
}

.layer a {
    margin-top: 30px;
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 30px;
}

.work:hover img {
    transform: scale(1.1);
}
.layer h2{
    margin-top: 10px;
}


.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid goldenrod;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    transition: background 0.75s;
}

.btn:hover {
    background: goldenrod;
}

@media only screen and (max-width:1500px) {
    .nav{
        padding: 10px;
        margin: 0;
    }
    .nav span{
        display: block;
    }
    ul li{
        display: block;
        text-align: center;
    }
    ul{
        display: none;
    }
    
    
    .layer {     
        font-size: 12px;
    }
}

