@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


/*nav-bar section*/

.active{
    color: goldenrod;
  }


.nav-bar{
     background-color:transparent;
    backdrop-filter: blur(20px);
      color: #fff;
      margin-bottom: 10px;
      box-shadow: 0px 5px 5px rgba(0 0 0/0.2);
  }
  
  .nav-bar h1{
    float: left;
    height: 45px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 7px;
  }
  
  .nav-bar h1 a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  
  .nav{
      text-align: right;
      margin-right: 150px;
  }
  .nav-bar h1 a{
    margin-left: 20px;
    
  }
  .nav-bar h1 a span{
    color: goldenrod;
  }
  
  ul li{
      display: inline-block;
      margin: 20px;
      list-style: none;
      
  }
  
  ul li a{
      color: #fff;
      text-decoration: none;
      padding: 20px;
  }
  ul li a:hover{
      color: goldenrod;
  }

  ul li a:active{
    font-size: 15px;
    transition: .3s;
  }
  
  .nav span{
      margin: 0 20px;
      font-size: 28px;
      cursor: pointer;
      display: none;
  }


/* ----------SERVICES---------- */
.my-service div:hover {
    background: linear-gradient(125deg, hotpink,goldenrod);
    transform: translateY(-10px);
    color: black !important;
}
.my-service div {
    background-color:transparent;
    backdrop-filter: blur(50px);
    color: #fff;
    border: .3px solid grey;
    margin: 50px;
    box-shadow: 0px 5px 5px rgba(0 0 0/0.2);
    padding: 40px;
    
    line-height: 30 px;
    
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}



#service{
    text-align: center;
    padding: 20px;
}


#service h1{
    padding: 10px;
    color: white;
    margin-top: 20px;
    font-size: 50px;
}
#service h1 span{
    color: goldenrod;
}

.my-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}


.ser {
    width: 300px;
    padding: 5px;
    margin: 20px;
    background-color: transparent;
    border-radius: 5px;
}
.ser i{
    font-size: 50px;
    float: left;
}
.ser p{
    margin-top: 10px;
    text-align: left;
}
.my-service .ser h2{
    text-align: center;
    color: white;
}
.my-service .ser a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.my-service .ser a:hover{
    color: black;
}

.ser a{
    color: black;
}

@media only screen and (max-width:1500px) {
    .nav{
        padding: 10px;
        margin: 0;
    }
    .nav span{
        display: block;
    }
    ul li{
        display: block;
        text-align: center;
    }
    ul{
        display: none;
    }
}
