@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}




/*nav-bar section*/

.active{
    color: goldenrod;
  }


.nav-bar{
    background-color:transparent;
    backdrop-filter: blur(20px);
    color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px rgba(0 0 0/0.2);
  }
  
  .nav-bar h1{
    float: left;
    height: 45px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 7px;
  }
  
  .nav-bar h1 a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  
  .nav{
      text-align: right;
      margin-right: 150px;
  }
  .nav-bar h1 a{
    margin-left: 20px;
    
  }
  .nav-bar h1 a span{
    color: goldenrod;
  }
  
  ul li{
      display: inline-block;
      margin: 20px;
      list-style: none;
      
  }
  
  ul li a{
      color: #fff;
      text-decoration: none;
      padding: 20px;
  }
  ul li a:hover{
      color: goldenrod;
  }

  ul li a:active{
    font-size: 15px;
    transition: .3s;
  }
  
  .nav span{
      margin: 0 20px;
      font-size: 28px;
      cursor: pointer;
      display: none;
  }

/*   about scetion    */

#aboutme{
    
    color: white;
    text-align: center;
    padding: 20px;
}
#aboutme h2{
    margin-top: 30px;
    font-size: 50px;
}
#aboutme h2 span{
    color: goldenrod;
}
.about{
    color: white;
    text-align: justify;
    justify-content: center;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
}

.about p{
    padding: 5px;
    margin: 10px;
}
hr{
    border: 1px solid rgba(128, 128, 128, 0.589);
}


/*   Education section   */


#education{
    text-align: center;
    padding: 20px;
}


#education h2{
    padding: 10px;
    color: white;
    margin-top: 30px;
    font-size: 50px;
}
#education h2 span{
    color: goldenrod;
}

.my-edu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}


.edu {
    background-color:transparent;
    backdrop-filter: blur(50px);
    border: .3px solid grey;
    color: #fff;
    box-shadow: 0px 5px 5px rgba(0 0 0/0.2);
    width: 300px;
    padding: 5px;
    margin: 50px;
    border-radius: 5px;
}


.edu img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

.my-edu div:hover {
    background: linear-gradient(125deg, orange,yellow);
    transform: translateY(-10px);
    color: black;
}
.my-edu div {
    
    padding: 40px;
    
    line-height: 30 px;
    
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}



#skills{
    
    text-align: center;
    padding: 20px;
}
#skills h2 span{
    color: goldenrod;
}
#skills h2{
    padding: 10px;
    color: white;
    margin-top: 30px;
    font-size: 50px;
}
.skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.my-skill {
    width: 250px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}
.skill .my-skill img{
    width: 45%;
    transition: transform 0.5s;
    display: inline-block;
}

.btn-btn {
    color: white;
    text-decoration: none;
    margin-left: 200px;
    margin-top: 100px;
}


.my-skill:hover img {
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s;
    
}


@media only screen and (max-width:1500px) {
    .nav{
        padding: 10px;
        margin: 0;
    }
    .nav span{
        display: block;
    }
    ul li{
        display: block;
        text-align: center;
    }
    ul{
        display: none;
    }
    #back a i{
        overflow: hidden;
        margin-left: 200px;
    }
}
