@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


/*nav-bar section*/


.nav-bar{
    background-color: #191d2b;
    color: #fff;
}

.nav-bar h1 a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.nav{
    text-align: right;
    margin-right: 40px;
}



ul li{
    display: inline-block;
    margin: 20px;
    list-style: none;
}


ul li a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
}
ul li a:hover{
    color: goldenrod;
}



.nav-bar h1{
    float: left;
    height: 45px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;

}


.nav span{
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.my-edu div:hover {
    background: linear-gradient(125deg, orange,yellow);
    transform: translateY(-10px);
}
.my-edu div {
    background: white;
    padding: 40px;
    
    line-height: 30 px;
    
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

/*   about scetion    */

#aboutme{
    background-color: #191d2b;
    color: white;
    text-align: center;
    padding: 20px;
}
#aboutme h2{
    margin-top: 30px;
    font-size: 50px;
}
#aboutme h2 span{
    color: goldenrod;
}
.about{
    color: white;
    text-align: justify;
    justify-content: center;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
}

.about p{
    padding: 5px;
    margin: 10px;
}
hr{
    border: 1px solid rgba(128, 128, 128, 0.589);
}


/*   Education section   */


#education{
    background-color: #191d2b;
    text-align: center;
    padding: 20px;
}


#education h2{
    padding: 10px;
    color: white;
    margin-top: 30px;
    font-size: 50px;
}
#education h2 span{
    color: goldenrod;
}

.my-edu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}


.edu {
    width: 300px;
    padding: 5px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}


.edu img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}


#skills{
    background-color: #191d2b;
    text-align: center;
    padding: 20px;
}
#skills h2 span{
    color: goldenrod;
}
#skills h2{
    padding: 10px;
    color: white;
    margin-top: 30px;
    font-size: 50px;
}
.skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.my-skill {
    width: 250px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.btn-btn {
    color: white;
    text-decoration: none;
    margin-left: 200px;
    margin-top: 100px;
}


.my-skill:hover {
    transform: scale(1.1);
    cursor: pointer;
    
}


@media only screen and (max-width:700px) {
    .nav{
        padding: 10px;
        margin: 0;
    }
    .nav span{
        display: block;
    }
    ul li{
        display: block;
    }
    ul{
        display: none;
    }
    #back a i{
        overflow: hidden;
        margin-left: 200px;
    }
}
